.title-underline-base-color {
    border-color: #1dacf9;
}
.title-underline-thick-base-color {
    border-color: #1dacf9;
}
.title-sideline-base-color:before {
    background-color: #1dacf9;
}
.title-strikethrough-base-color:before {
    background-color: #1dacf9;
}
.text-base-color {
    color: #1dacf9 !important;
}
.text-hover-base-color:hover,
.text-hover-base-color:focus {
    color: #1dacf9 !important;
}
.bg-base-color {
    background-color: #1dacf9 !important;
}
.bg-hover-base-color:hover {
    background-color: #1dacf9 !important;
}
.border-base-color {
    border-color: #1dacf9 !important;
}
.box-shadow-base-color {
    -webkit-box-shadow: 0 0 0 1px #1dacf9 !important;
    -moz-box-shadow: 0 0 0 1px #1dacf9 !important;
    box-shadow: 0 0 0 1px #1dacf9 !important;
}
.box-shadow-thick-base-color {
    -webkit-box-shadow: 0 0 0 2px #1dacf9 !important;
    -moz-box-shadow: 0 0 0 2px #1dacf9 !important;
    box-shadow: 0 0 0 2px #1dacf9 !important;
}
.box-shadow-medium-thick-base-color {
    -webkit-box-shadow: 0 0 0 3px #1dacf9 !important;
    -moz-box-shadow: 0 0 0 3px #1dacf9 !important;
    box-shadow: 0 0 0 3px #1dacf9 !important;
}
.box-shadow-extra-thick-base-color {
    -webkit-box-shadow: 0 0 0 4px #1dacf9 !important;
    -moz-box-shadow: 0 0 0 4px #1dacf9 !important;
    box-shadow: 0 0 0 4px #1dacf9 !important;
}
.btn.btn-base-color {
    background-color: #1dacf9;
}
.btn.btn-base-color.btn-hover-transparent:hover {
    border-color: #1dacf9;
    color: #1dacf9;
}
.btn.btn-outline-base-color {
    border-color: #1dacf9;
    color: #1dacf9;
}
.btn.btn-outline-base-color:hover {
    background-color: #1dacf9;
}
.btn.btn-outline-base-color.btn-hover-transparent:hover,
.btn.btn-outline-base-color.btn-hover-transparent:focus {
    color: #1dacf9;
}
.pace .pace-progress {
    background-color: #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
.triangle-top-right.triangle-base-color {
    border-color: transparent #1dacf9 transparent transparent;
}
.triangle-top-left.triangle-base-color {
    border-color: #1dacf9 transparent transparent transparent;
}
.triangle-bottom-right.triangle-base-color {
    border-color: transparent transparent #1dacf9 transparent;
}
.triangle-bottom-left.triangle-base-color {
    border-color: transparent transparent transparent #1dacf9;
}
